* {
  box-sizing: border-box;
}

html {
  background-color: #eaeaea;
  color: #212121;
  font-family: monospace;
  font-size: 18px;
}

body > * {
  width: 100%;
  max-width: 720px;
  background-color: #f8f8f8;
  box-shadow: 5px 5px #bbbbbb;
}

nav {
  margin: auto;
  padding: 1.2rem 2rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a:not([href]), nav a:hover {
  box-shadow: 0 5px #fa7268;
}

section {
  margin: 2rem auto;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
}

form > * {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-family: monospace;
}

textarea, button, input[type="submit"] {
  padding: 0.5rem;
  border: 1px solid #212121;
}

button, input[type="submit"] {
  border-radius: 0;
  box-shadow: 2px 2px #212121;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

button:hover, input[type="submit"]:hover {
  background-color: #d6d6d6;
}

button:active, input[type="submit"]:active {
  background-color: #ababab;
  box-shadow: -2px -2px #212121;
  color: #212121;
}

button:last-child, input:last-child {
  margin-bottom: 0;
}