@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  background: #212121;
  color: #eaeaea;
  font-family: "VT323", monospace;
  font-size: 1.75em;
  line-height: 1.2;
}

body > * {
  width: 100%;
  max-width: 800px;
}

nav, section {
  margin: auto;
  padding: 0.5rem 1rem;
}

nav li {
  display: inline;
}

a:before, button:before, input[type="submit"]:before {
  color: #00dd00;
  content: '[';
}

a:after, button:after, input[type="submit"]:after  {
  color: #00dd00;
  content: ']';
}

a:not([href]), a:hover, button:hover, input[type="submit"]:hover {
  color: #00dd00;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="radio"]:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 1rem 0 0.25rem;
}

form > * {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: inherit;
  border: 1px solid #212121;
  outline: 0;
  background: transparent;
}

button, input[type="submit"] {
  width: auto;
  font-size: 1.2em;
  color: #eaeaea;
  padding: 0;
}

textarea, input[type="text"] {
  resize: none;
  border: 1px solid #00dd00;
  padding: 0.1rem 0.4rem;
  color: #eaeaea;
  caret-color: #00dd00;
  caret-shape: block;
  font-size: 0.8rem;
}

*::selection {
  background-color: #00dd00;
  color: #212121;
}
