@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #212121;
}

body {
  background-color: #999999;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header, footer {
  width: 100%;
  display: flex;
  justify-content: left;
}

footer {
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #eeeeee;
}

header > div, footer > div {
  display: flex;
  padding: 1rem 2rem;
}

header h1 {
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
}

nav, footer > div:last-child {
  margin: auto 0 auto auto;
  padding: 1rem 2rem;
}

nav > ul {
  display: flex;
  margin: auto;
  height: 100%;
}

nav li {
  padding: 0 0.2rem;
}

nav a:hover {
  box-shadow: 0 2px #212121;
}

.hero {
  text-align: center;
}

.hero > div {
  height: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 2rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

input, select {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-left: 5px;
  background-color: rgba(199, 199, 199, 0);
  border: none;
  border-bottom: 5px solid #212121;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

select {
  appearance: none;
}

label > input {
  display: inline;
  width: auto;
}

label > a {
  text-decoration: underline;
}

label > a:hover {
  color: #373737;
}

button {
  display: block;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 0 2rem;
  text-transform: uppercase;
  border-radius: 500px;
  border: 0;
  background-color: #212121;
  color: #eeeeee;
}

button:hover {
  background-color: #373737;
}

footer a {
  color: #eeeeee;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  header, footer {
    flex-direction: column;
  }

  header > div {
    margin: auto;
    padding: 0.4rem;
  }

  footer > div {
    margin: auto;
    padding: 0.5rem;
  }

  footer > div:last-child {
    margin: 0 auto 0.2rem auto;
    padding: 0.5rem;
  }

  nav {
    margin: auto;
    padding: 0;
  }

  p {
    font-size: 1em;
    padding: 0 2rem 1rem;
  }

  h2 {
    font-size: 1.6rem;
    padding: 0 2rem 1rem;
  }

  form {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 460px) {
  label {
    display: block;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  input[type="checkbox"] {
    margin: 0;
    padding: 0;
  }
}